.list {
    margin-top: 30px;
    color: #576674;
    font-weight: 500;
    font-size: 18px;
  }
  
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .item:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .btn {
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50%;
    color: aliceblue;
    
    background-color: red;
    border: none;
    outline: none;
    transition: transform 250ms;
  }
  
  .btn:hover {
    transform: scale(1.2);
  }